/* font */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800&display=swap');

$fontFamily: 'Montserrat', sans-serif;

/* background colors */
$backgroundColor: #f0e3ff;

/* Colors */
$fontColor: #727272;
$primaryColor: #916dd5;
$secondaryColor: #d89cf6;
$headerColor: #333;
$contrastColor: #3e206d;
$borderColor: #ccc;

/* box-shadow */
$boxShadow: 0px 9px 18px rgba(0, 0, 0, 0.1);

/* border-radius */

$borderRadius: 4px;
